<a href="https://colab.research.google.com/github/acharyasudipta/drsudiptaacharya/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:

import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt
#from google.colab import files
#uploaded = files.upload()

In [3]:
df=pd.read_excel("EDA_Shark_Tank_India.xlsx")
df.head()

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,...,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,...,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,...,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,...,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   episode_number         117 non-null    int64
 1   pitch_number           117 non-null    int64
 2   brand_name             117 non-null    object
 3   idea                   117 non-null    object
 4   deal                   117 non-null    int64
 5   pitcher_ask_amount     117 non-null    float64
 6   ask_equity             117 non-null    float64
 7   ask_valuation          117 non-null    float64
 8   deal_amount            117 non-null    float64
 9   deal_equity            117 non-null    float64
 10  deal_valuation         117 non-null    float64
 11  ashneer_present        117 non-null    int64
 12  anupam_present         117 non-null    int64
 13  aman_present           117 non-null    int64
 14  namita_present         117 non-null    int64
 15  vineeta_present        117 non-null    int64
 16  peyush_present         117 non-null    int64
 17  ghazal_present         117 non-null    int64
 18  ashneer_deal           117 non-null    int64
 19  anupam_deal            117 non-null    int64
 20  aman_deal              117 non-null    int64
 21  namita_deal            117 non-null    int64
 22  vineeta_deal           117 non-null    int64
 23  peyush_deal            117 non-null    int64
 24  ghazal_deal            117 non-null    int64
 25  total_sharks_invested  117 non-null    int64
 26  amount_per_shark       117 non-null    float64
 27  equity_per_shark       117 non-null    float64
dtypes: float64(8), int64(18), object(2)
memory usage: 25.7+ KB

In [4]:
print("There are {} missing values in the data.".format(df.isna().sum()))

There are episode_number           0
pitch_number             0
brand_name               0
idea                     0
deal                     0
pitcher_ask_amount       0
ask_equity               0
ask_valuation            0
deal_amount              0
deal_equity              0
deal_valuation           0
ashneer_present          0
anupam_present           0
aman_present             0
namita_present           0
vineeta_present          0
peyush_present           0
ghazal_present           0
ashneer_deal             0
anupam_deal              0
aman_deal                0
namita_deal              0
vineeta_deal             0
peyush_deal              0
ghazal_deal              0
total_sharks_invested    0
amount_per_shark         0
equity_per_shark         0
dtype: int64 missing values in the data.

In [5]:
print("There are {} missing values in the data.".format(df.isna().sum().sum()))

There are 0 missing values in the data.

In [40]:
n = df['episode_number'].unique()
print(n.shape)
print(n.shape[0])

(35,)
35

In [20]:
stats_numeric_ask_amount = df['pitcher_ask_amount'].describe()
print(stats_numeric_ask_amount)

count      117.000000
mean       319.854709
std       2767.842777
min          0.001010
25%         45.000000
50%         50.000000
75%         80.000000
max      30000.000000
Name: pitcher_ask_amount, dtype: float64

In [11]:
stats_numeric_ask_equity = df['ask_equity'].describe()
print(stats_numeric_ask_equity)

count    117.000000
mean       5.188034
std        3.892121
min        0.250000
25%        2.500000
50%        5.000000
75%        7.500000
max       25.000000
Name: ask_equity, dtype: float64

In [13]:
stats_numeric_ask_valuation = df['ask_valuation'].describe()
print(stats_numeric_ask_valuation)

count       117.000000
mean       3852.462479
std       11931.601957
min           0.010000
25%         666.670000
50%        1250.000000
75%        2857.140000
max      120000.000000
Name: ask_valuation, dtype: float64

In [28]:
a = df['episode_number'] == 1
print(a)
mean_ask_equity = df.loc[a,'ask_equity'].mean()
print(mean_ask_equity)

0       True
1       True
2       True
3      False
4      False
       ...
112    False
113    False
114    False
115    False
116    False
Name: episode_number, Length: 117, dtype: bool
10.0

In [52]:
print(df['ask_equity'].max())
print(df['ask_equity'].min())
print(df['ask_equity'].mean())

25.0
0.25
5.188034188034188

In [57]:
print(df[['ask_valuation','ask_valuation','pitcher_ask_amount']].max())
print(df[['ask_valuation','ask_valuation','pitcher_ask_amount']].min())
print(df[['ask_valuation','ask_valuation','pitcher_ask_amount']].mean())

ask_valuation         120000.0
ask_valuation         120000.0
pitcher_ask_amount     30000.0
dtype: float64
ask_valuation         0.01000
ask_valuation         0.01000
pitcher_ask_amount    0.00101
dtype: float64
ask_valuation         3852.462479
ask_valuation         3852.462479
pitcher_ask_amount     319.854709
dtype: float64

In [54]:
print(df['pitcher_ask_amount'].max())
print(df['pitcher_ask_amount'].min())
print(df['pitcher_ask_amount'].mean())

30000.0
0.00101
319.8547094871795

In [48]:
print(df.groupby(["episode_number"])['ask_equity','ask_valuation','pitcher_ask_amount'].mean())

                ask_equity  ask_valuation  pitcher_ask_amount
episode_number
1                10.000000     505.556667           38.333333
2                 3.666667    3000.000000           56.666667
3                 2.083333   14791.666667           75.000000
4                 7.166667    1013.890000           58.333333
5                 8.666667    3683.333333           53.333333
6                 5.333333    3800.000000           65.000000
7                 3.500000    4388.890000           75.000000
8                 4.333333    1248.890000           45.333333
9                 4.166667    1666.666667           66.666667
10                4.000000     866.666667           28.333333
11               13.333333   40433.333333        10026.666667
12                4.000000    1336.110000           51.666667
13                5.666667    1200.000000           43.333333
14                3.666667    2522.220000           81.666667
15                4.000000     783.333333           28.333333
16                4.250000    1799.107500           68.750000
17                7.000000    1825.000000           82.500000
18                2.625000    4062.500000           72.500000
19                4.812500    3200.000000           77.500000
20                3.000000    2150.000000           50.000000
21                7.666667     806.666667           60.666667
22                3.500000    2150.000000           66.250000
23                4.000000    3525.000000           76.250000
24                9.333333     333.333333           30.000000
25                2.666667    4583.333333          100.000000
26                6.333333    2541.666667           55.000000
27                6.500000    2925.002500           52.500253
28                4.666667    1558.333333           71.666667
29                3.833333    2285.713333           83.333333
30                6.125000    9791.667500          126.250000
31                4.375000    2287.500000           65.000000
32                4.500000    2931.547500           91.250000
33                4.500000    1675.000000           38.750000
34                5.125000    3450.000000           57.500000
35                4.833333    1916.666667           63.333333

<ipython-input-48-bbb5f20bd5f8>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  print(df.groupby(["episode_number"])['ask_equity','ask_valuation','pitcher_ask_amount'].mean())

In [65]:
a = ((df['total_sharks_invested'] == 2) | (df['total_sharks_invested'] == 3) | (df['total_sharks_invested'] == 4))
#print(a)
df.loc[a,'brand_name']

0                 BluePine Industries
1                       Booz scooters
2                 Heart up my Sleeves
9                               Cosiq
11                             Bummer
12                        Revamp Moto
18                 Raising Superstars
21                       Beyond Snack
22     Vivalyf Innovations- Easy Life
24                              Altor
25                              Ariro
27                            Nuutjob
28                           Meatyour
29                          EventBeep
32                              Farda
35                               LOKA
36                              Annie
37                          Caragreen
38                    The Yarn Bazaar
39                  The Renal Project
44                            Cocofit
45                       Bamboo India
47                       Beyond Water
48                          Let's Try
50                      Aas Vidyalaya
58                            WeSTOCK
64                         Get a Whey
66                    The Quirky Nari
67                     Hair Originals
75                       The Sass Bar
85                 Watt Technovations
88                           Humpy A2
90           Gold Safe Solutions Ind.
91                        Wakao Foods
95                       Kabaddi Adda
108                        Tweek Labs
109                            Proxgy
110                Nomad Food Project
114                     Jain Shikanji
Name: brand_name, dtype: object

In [67]:
print(df.groupby(["episode_number"])['total_sharks_invested'].max())

episode_number
1     3
2     1
3     1
4     2
5     2
6     5
7     2
8     2
9     2
10    3
11    2
12    3
13    4
14    2
15    3
16    2
17    5
18    1
19    4
20    5
21    3
22    3
23    1
24    2
25    5
26    1
27    4
28    3
29    3
30    2
31    1
32    1
33    3
34    4
35    4
Name: total_sharks_invested, dtype: int64

In [68]:
print(df.groupby(["episode_number"])['total_sharks_invested'].min())

episode_number
1     2
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    3
11    0
12    0
13    2
14    0
15    1
16    0
17    0
18    0
19    0
20    0
21    1
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
Name: total_sharks_invested, dtype: int64

In [69]:
print(df.groupby(["brand_name"])['total_sharks_invested'].max())

brand_name
ARRCOAT Surface Textures          1
Aas Vidyalaya                     3
Agro tourism                      0
Aliste Technologies               0
Alpino                            0
                                 ..
Vivalyf Innovations- Easy Life    2
Wakao Foods                       3
Watt Technovations                4
WeSTOCK                           4
Woloo                             0
Name: total_sharks_invested, Length: 117, dtype: int64

In [70]:
print(df.groupby(["brand_name"])['total_sharks_invested'].min())

brand_name
ARRCOAT Surface Textures          1
Aas Vidyalaya                     3
Agro tourism                      0
Aliste Technologies               0
Alpino                            0
                                 ..
Vivalyf Innovations- Easy Life    2
Wakao Foods                       3
Watt Technovations                4
WeSTOCK                           4
Woloo                             0
Name: total_sharks_invested, Length: 117, dtype: int64

In [71]:
a = ((df['deal'] == 1) | (df['deal_amount'] == 100))
#print(a)
df.loc[a,'brand_name']

0      BluePine Industries
1            Booz scooters
2      Heart up my Sleeves
3               Tagz Foods
7                Peeschute
              ...
106          Colour Me Mad
108             Tweek Labs
109                 Proxgy
110     Nomad Food Project
114          Jain Shikanji
Name: brand_name, Length: 66, dtype: object

In [72]:
a = ((df['deal_equity'] >= 0) | (df['deal_equity'] <= 50))
#print(a)
df.loc[a,'brand_name']

0      BluePine Industries
1            Booz scooters
2      Heart up my Sleeves
3               Tagz Foods
4           Head and Heart
              ...
112          Green Protein
113                On2Cook
114          Jain Shikanji
115                  Woloo
116           Elcare India
Name: brand_name, Length: 117, dtype: object

In [74]:
print(df.groupby(["episode_number"])['brand_name'].count())

episode_number
1     3
2     3
3     3
4     3
5     3
6     3
7     3
8     3
9     3
10    3
11    3
12    3
13    3
14    3
15    3
16    4
17    4
18    4
19    4
20    3
21    3
22    4
23    4
24    3
25    3
26    3
27    4
28    3
29    3
30    4
31    4
32    4
33    4
34    4
35    3
Name: brand_name, dtype: int64

In [76]:
count = 0
for col in df.columns:
  if '_present' in col:
    count += 1
    print(col.replace('_present',''))
print(count)

ashneer
anupam
aman
namita
vineeta
peyush
ghazal
7

# New Section

In [67]:
#13
df['aman_present'].count()

117

In [15]:
df['vineeta_present'].sum()

66

In [78]:
n = df['brand_name'].unique()
print(n)
print(n.shape[0])

['BluePine Industries' 'Booz scooters' 'Heart up my Sleeves' 'Tagz Foods'
 'Head and Heart' 'Agro tourism' 'Qzense Labs' 'Peeschute' 'NOCD' 'Cosiq'
 'JhaJi Achaar' 'Bummer' 'Revamp Moto' 'Hungry Heads' 'Shrawani Engineers'
 'Skippi Pops' 'Menstrupedia' 'Hecolll' 'Raising Superstars' 'Torch-it'
 'La Kheer Deli' 'Beyond Snack' 'Vivalyf Innovations- Easy Life'
 'Motion Breeze' 'Altor' 'Ariro' 'Kabira Handmade' 'Nuutjob' 'Meatyour'
 'EventBeep' "Gopal's 56" 'ARRCOAT Surface Textures' 'Farda'
 'Auli Lifestyle' 'SweeDesi' 'LOKA' 'Annie' 'Caragreen' 'The Yarn Bazaar'
 'The Renal Project' 'Morikko Pure Foods' 'Good Good Piggy Bank'
 'Hammer Lifestyle' 'PNT' 'Cocofit' 'Bamboo India' 'Flying Furr'
 'Beyond Water' "Let's Try" 'Find Your Kicks India' 'Aas Vidyalaya'
 'Outbox' 'RoadBounce' "Mommy's Kitchen" 'India Hemp and Co' 'Otua'
 'Anthyesti' 'Ethik' 'WeSTOCK' 'KetoIndia' 'Magic lock' 'The State Plate'
 'Bakarmax' 'IN A CAN' 'Get a Whey' 'Sid07 Designs' 'The Quirky Nari'
 'Hair Originals' 'Poo de Cologne' 'Moonshine Meads' 'Falhari'
 'Namhya Foods' 'Urban Monkey' 'Guardian Gears' 'Modern Myth'
 'The Sass Bar' 'KG Agrotech' 'Nuskha Kitchen' 'PawsIndia'
 'Sunfox Technologies' 'Alpino' 'Isak Fragrances' 'Julaa Automation'
 'Rare Planet' 'Theka Coffee' 'Watt Technovations' 'Aliste Technologies'
 'Insurance Samadhan' 'Humpy A2' 'Kunafa World' 'Gold Safe Solutions Ind.'
 'Wakao Foods' 'PDD Falcon' 'PlayBox TV' 'Sippline Drinking Shields'
 'Kabaddi Adda' 'Shades of Spring' 'Scholify' 'Scrapshala' 'Sabjikothi'
 'AyuRythm' 'Astrix' 'Thea and Sid' 'Experential Etc' 'GrowFitter'
 'Med Tech' 'Colour Me Mad' "Mavi's" 'Tweek Labs' 'Proxgy'
 'Nomad Food Project' 'Twee in One' 'Green Protein' 'On2Cook'
 'Jain Shikanji' 'Woloo' 'Elcare India']
117

In [79]:
df['aman_deal'].sum()

28

Q.14

In [82]:
a = df['aman_deal'] == 1
b = df.loc[a,['brand_name','equity_per_shark']]
print(b)

                brand_name  equity_per_shark
0      BluePine Industries          5.333333
7                Peeschute          6.000000
11                  Bummer          3.750000
12             Revamp Moto          0.750000
15             Skippi Pops          3.000000
18      Raising Superstars          2.000000
21            Beyond Snack          1.250000
24                   Altor          3.500000
25                   Ariro          5.000000
27                 Nuutjob          6.666667
28                Meatyour          6.666667
29               EventBeep          1.000000
32                   Farda         10.000000
35                    LOKA          8.000000
38         The Yarn Bazaar          2.500000
39       The Renal Project          3.000000
42        Hammer Lifestyle         40.000000
44                 Cocofit          1.666667
47            Beyond Water          7.500000
48               Let's Try          6.000000
49   Find Your Kicks India          5.000000
58                 WeSTOCK          2.500000
63                IN A CAN          2.000000
64              Get a Whey          5.000000
71            Namhya Foods         10.000000
100               AyuRythm          2.680000
104             GrowFitter          2.000000
114          Jain Shikanji          7.500000

In [80]:
df['amount_invested'] = df['total_sharks_invested']*df['amount_per_shark']

Q.15

In [81]:
df['amount_invested'].sum()

3742.001060079

In [73]:
k=df.groupby(["episode_number"])['aman_present'].mean()

In [74]:
print(type(k))

<class 'pandas.core.series.Series'>

In [75]:
k

episode_number
1     1.0
2     1.0
3     1.0
4     1.0
5     1.0
6     1.0
7     1.0
8     1.0
9     1.0
10    1.0
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    1.0
17    1.0
18    1.0
19    1.0
20    1.0
21    1.0
22    1.0
23    1.0
24    0.0
25    0.0
26    0.0
27    0.0
28    0.0
29    0.0
30    1.0
31    1.0
32    1.0
33    1.0
34    1.0
35    1.0
Name: aman_present, dtype: float64

In [72]:
k.sum()

29.0

In [63]:
kdf = pd.DataFrame(k)

In [64]:
for col in kdf.columns:
  print(col)

aman_present

In [65]:
kdf.iloc[:,0].sum()

98

In [82]:
l = []
for i in df.columns[18:25]:
    x=df[df[i]==1]
    s=x["equity_per_shark"].sum()
    l.append(s)
    print(i,"gets total",s,"equity")
amount=sorted(l,reverse=True)
amount

ashneer_deal gets total 93.249999999 equity
anupam_deal gets total 166.35 equity
aman_deal gets total 160.263333334 equity
namita_deal gets total 134.78333333400002 equity
vineeta_deal gets total 131.533333333 equity
peyush_deal gets total 315.84999999999997 equity
ghazal_deal gets total 46.7 equity

[315.84999999999997,
 166.35,
 160.263333334,
 134.78333333400002,
 131.533333333,
 93.249999999,
 46.7]

# New Section

# New Section